.root {
  position: absolute;
}

.top {
  @extend .root;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px;
}

.right {
  @extend .root;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8px;
}

.bottom {
  @extend .root;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
}

.left {
  @extend .root;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 8px;
}