.root {
  border: 1px solid black;
  position: absolute;
  left: 30%;
  top: 50%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.bubble {
  color: black;
  background: gray;
  border-radius: 20px;
  border: 1px solid black;
  padding: 15px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.19);
}

